<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> #{title}</title>




    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>if (window.history.replaceState) { window.history.replaceState(null, null, window.location.href); }</script>

    style
        include ../static/raisestats.css


</head>

<body style="background-color: #333333;">
    <nav class="navbar navbar-inverse" style="margin-bottom: 20px; width: 100%;">

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="https://media.emailonacid.com/wp-content/uploads/2018/03/EOA-footer-logo-LtIcon.png" alt="Logo" style="width:50px;">
                </a>
                <a class="navbar-brand" href="#">burn_G-mail_Sender</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="https://code.dcoder.tech/feed/project/609dfe8ee13ab62fe94d1e81/corona-map">Corona map</a>
                </li>
                <li><a href="https://code.dcoder.tech/feed/project/609eabceb9b4c92abf120f87/burn_chatbox">Chatting System</a></li>
                <li><a href="#">Contact me</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="display:#{display}"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li style="display:#{display}"><a href="/confmail"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li style="display:#{welcome}"><a href="#"><span class="glyphicon glyphicon"></span> WELCOME &nbsp; #{userdata.name} </a></li>
                <li style="display:#{welcome}"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>

            </ul>
        </div>
    </nav>

    <div id="wrapper">
        <div class="mycoderdiv" id="one" style="display: none;">#{raisestatsdata}</div>
        <div class="mycoderdiv" id="two" style="display: none;">#{raisestatsdata}</div> 
    </div>
    



</body>
<script src = "/static/raisestats.js"></script>

</html>